<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.licenta.smartirrigationsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_almeu"
        android:label="Smart Garden"
        android:roundIcon="@mipmap/ic_almeu_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">


        <service
            android:name=".MyService"
            android:exported="true"
            android:enabled="true"
            ></service>

        <activity android:name=".PlanActivity" />
        <activity android:name=".WeatherActivity" />
        <activity android:name=".WateredActivity" />
        <activity android:name=".PumpActivity" />
        <activity android:name=".LevelActivity" />
        <activity android:name=".LightActivity" />
        <activity android:name=".MoistureActivity" />
        <activity android:name=".RainActivity" />
        <activity android:name=".TemperaturaActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>